.characterName {
    text-transform: capitalize;
}

.lineNumber {
    color: #848484;
    padding-right: 10px;
    font-size: 60%
}

td {
    padding-bottom: 10pt;
}

.lineNumber {
    vertical-align: middle;
}

.line>.characterName {
    text-transform: uppercase;
}

.line>.characterName::after {
    content: "\a ";
    white-space: pre;
}

.returnLink {
    display: block;
}

.characterDescription {
    display:block;
}

#scenelist {
    display: block;
}

.highlighted {
    background-color:#FFFF00
}

#scenelist>a {
    display: block;
}

.heading {
    padding-top: 10pt;
    font-weight: bold;
    padding-bottom: 10pt;
}


